<h1><%= @mechanic.name %></h1>

<p><%= @mechanic.experience %></p>
<% @mechanic.rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>

<%= form_tag "/mechanics/#{@mechanic.id}", method: :patch do %>
  <%= label_tag :ride_id %>
  <%= text_field_tag :ride_id %>
  <%= submit_tag "Submit new Ride" %>
<% end %>
